<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professorat</title>
</head>
<body>
    {% include "head/header.html" %}
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table>
        <tr>
            <td><h2>ID</h2></td>
            <td><h2>NOM</h2></td>
            <td><h2>COGNOMS</h2></td>
        </tr>

        {% for professor in professors %}
        <tr>
            <td><p>{{ professor.id }}</p></td>
            <td><p>{{professor.nom }}</p></td>
            <td><p>{{professor.cognom1}} {{professor.cognom2}}</p></td>
            <td><a href= "{% url 'teacher' professor.id  %}">+INFO</a></td>
        </tr>
        {% endfor %}
        
    </table>
</body>
</html>

